<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Todo App</a>
      <a class="navbar-brand" href="/editer">Editer</a>
    </div>
  </nav>